$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
  color: #000;
  text-decoration: none;
  @include transition(.3s);
}
#{$a-tags-hover} {
  color: #333;
}

.button {
	display: inline-block;
	margin: 0 10px;
	border: 1px solid #ddd;
	background: transparent;
	padding: 8px 10px;
	font-size: 16px;
	color: #333;
	background: #fff;
	outline: none;
	&:hover, &:focus{
		background: #eee;
	};
}