body {
  margin: 0;
  font-size: 16px;
}

nav.main-header {
  min-height: 100px;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: flex;
  background: #001377;
  flex-wrap: wrap;
}

nav.main-header .logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.main-header ul {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 35px 0 20px;
  align-items: center;
  justify-content: flex-end;
}
nav.main-header ul li {
  list-style: none;
  padding: 0 10px;
}

nav.main-header ul li a.active {
  color: #e80f0f;
  font-weight: bolder;
  padding-bottom: 5px;
  border-bottom: 2px solid #e80f0f;
}
nav.main-header ul li a {
  color: #FFF;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrap {
  display: block;
}

.container {
  padding: 0 30px;
}